body { background : center center no-repeat;
background: url(/images/back2.png)  }

.dealer {
	background: #BBBBBB;
}

.current {
	background: #BBFFBB;
}

#lookup {
	position: fixed;
	bottom: -140px;
	left: 400px;
	width:600px;
}

#table {
	position: absolute;
	left: 200px;
	top: 200px;

}
#table img.table {
	width: 100%;
}
#table #deck {

}
#table #cards {

}


#table .empty .player {  }
#table .place .cards { }

div.card { width: 50px; height:80px; display: block; position: relative; }
div.card img { width:100%; height:100%; }
.me div.cards { cursor: pointer }

#table .place .cards img:nth-child(2) { margin-left: -10px; }

#table .place .chipbox { position: absolute; width: 100px; height:100px; }
#table .place .chip img { 	width: 20px; height: 20px; }
#table .place .chip { 
	position: absolute;
	left:0px;
	top: 0px;
	width: 20px; height: 20px;
}
#table .place .chips { float: left; position: relative; left:0px; top:0px; width: 20px; height: 20px; }

#table .place .cards .card img { width: 35px; height: 50px; }

#table .place { cursor: pointer; }
#table .stackamount { 
	position: absolute;
	opacity: 0; 
	background: grey;
	border: 3px solid black; 
	border-radius: 13px 7px;
	padding: 5px;
	color: white;
	z-index: 9999999;
	font: normal bold 13px Arial;
}
#table .fold { opacity: 0,5; background: grey; }
#table .check { background: green;  }
#table .call { background: yellow;  }
#table .raise { background: orange;  }
#table .allin { background: red; }
#table .place {
	position: absolute;
	background: red;
}

#table .place .name,
#table .place .stack,
#table .place .timer,
#table .place .state {
	position: absolute;
} 
#table .player span { white-space: nowrap; }
#table .player .unstack { font: bold 20px Arial; color: red; }
#table .player .restack { font: bold 20px Arial; color: green; }
#table .player { 

}
